In [119]:
import pandas as pd
import numpy as np

In [120]:
# Import raw data from csv.
df = pd.read_csv('./RawData.csv')
df.head()

,Unnamed: 0,Company name,Asset Tangibility\n2018,Asset Tangibility\n2017,Asset Tangibility\n2016,Asset Tangibility\n2015,Gearing (%)\n2018,Gearing (%)\n2017,Gearing (%)\n2016,Gearing (%)\n2015,Directors' Fees\nth GBP 2018,Directors' Fees\nth GBP 2017,Directors' Fees\nth GBP 2016,Directors' Fees\nth GBP 2015,Directors' Remuneration\nth GBP 2018,Directors' Remuneration\nth GBP 2017,Directors' Remuneration\nth GBP 2016,Directors' Remuneration\nth GBP 2015,Highest Paid Director\nth GBP 2018,Highest Paid Director\nth GBP 2017,Highest Paid Director\nth GBP 2016,Highest Paid Director\nth GBP 2015,Turnover\nth GBP 2018,Turnover\nth GBP 2017,Turnover\nth GBP 2016,Turnover\nth GBP 2015,Long Term Debt\nth GBP 2018,Long Term Debt\nth GBP 2017,Long Term Debt\nth GBP 2016,Long Term Debt\nth GBP 2015,EBITDA\nth GBP 2018,EBITDA\nth GBP 2017,EBITDA\nth GBP 2016,EBITDA\nth GBP 2015,Depreciation\nth GBP 2018,Depreciation\nth GBP 2017,Depreciation\nth GBP 2016,Depreciation\nth GBP 2015,Market capitalisation / Total assets (Tobin’s Q)\n2018,Market capitalisation / Total assets (Tobin’s Q)\n2017,Market capitalisation / Total assets (Tobin’s Q)\n2016,Market capitalisation / Total assets (Tobin’s Q)\n2015,Total Assets\nth GBP 2018,Total Assets\nth GBP 2017,Total Assets\nth GBP 2016,Total Assets\nth GBP 2015
0,1.0,SUTTON HARBOUR COMPANY,0.9427,0.9624,0.9591,0.9517,193.39,110.71,111.44,71.81,870,359,331,336,952,416,386,375,576,189,184,173,"5,000","5,055","4,846","5,537","-22,658","-22,738","-22,794","-15,100","-1,537","1,496","2,644",793,173,203,149,76,n.a.,n.a.,n.a.,n.a.,"39,590","51,100","51,271","42,403"
1,2.0,KOOLTECH HOLDINGS LIMITED,0.3535,0.2837,0.2753,0.2109,73.22,186.53,263.52,106.22,339,311,367,347,339,311,367,347,165,152,232,226,"40,497","35,352","29,610","27,184","-1,991","-2,093","-2,202",-95,"3,063","1,976",341,692,457,431,322,259,n.a.,n.a.,n.a.,n.a.,"19,941","17,941","16,489","12,749"
2,3.0,HULLEY & KIRKWOOD LIMITED,0.1013,0.0553,0.0745,0.1037,78.45,118.23,183.83,230.87,818,733,752,582,881,870,757,651,123,137,118,74,"10,924","11,005","10,765","7,536",-720,-791,"-1,430","-2,068",829,940,923,463,96,84,73,62,n.a.,n.a.,n.a.,n.a.,"7,023","7,514","7,915","7,694"
3,4.0,PRYME GROUP HOLDINGS LIMITED,0.4921,0.6055,0.6627,0.5707,56.83,35.35,22.77,8.47,478,491,400,177,492,506,414,177,142,150,158,60,"14,382","12,796","12,586","5,201","-2,932","-3,004","-1,409",-66,"-2,751","-1,917",-110,684,"1,776","1,721","1,422",518,n.a.,n.a.,n.a.,n.a.,"17,631","19,329","18,366","15,488"
4,5.0,CLARK CONTRACTS (GROUP) LIMITED,0.1583,0.1148,0.0945,0.0861,64.59,130.87,235.39,460.45,962,743,876,835,985,766,904,865,317,239,231,205,"78,202","71,957","56,240","55,576","-1,800","-2,400","-3,050","-3,450","2,463","2,060","1,513","1,378",250,221,163,314,n.a.,n.a.,n.a.,n.a.,"24,863","24,552","24,752","21,055"

In [121]:
# Replace weird null values with native numpy NaN.
df.replace(to_replace="n.a.", value=np.nan, inplace=True)
df.replace(to_replace="n.s.", value=np.nan, inplace=True)

df.isna().sum()

Unnamed: 0                                                   0
Company name                                                 0
Asset Tangibility\n2018                                     15
Asset Tangibility\n2017                                     15
Asset Tangibility\n2016                                     18
Asset Tangibility\n2015                                     24
Gearing (%)\n2018                                           17
Gearing (%)\n2017                                           15
Gearing (%)\n2016                                           18
Gearing (%)\n2015                                           27
Directors' Fees\nth GBP 2018                                15
Directors' Fees\nth GBP 2017                                15
Directors' Fees\nth GBP 2016                                18
Directors' Fees\nth GBP 2015                                25
Directors' Remuneration\nth GBP 2018                        15
Directors' Remuneration\nth GBP 2017                        15
Directors' Remuneration\nth GBP 2016                        18
Directors' Remuneration\nth GBP 2015                        25
Highest Paid Director\nth GBP 2018                          16
Highest Paid Director\nth GBP 2017                          15
Highest Paid Director\nth GBP 2016                          18
Highest Paid Director\nth GBP 2015                          33
Turnover\nth GBP 2018                                       15
Turnover\nth GBP 2017                                       15
Turnover\nth GBP 2016                                       18
Turnover\nth GBP 2015                                       25
Long Term Debt\nth GBP 2018                                 17
Long Term Debt\nth GBP 2017                                 15
Long Term Debt\nth GBP 2016                                 21
Long Term Debt\nth GBP 2015                                 37
EBITDA\nth GBP 2018                                         15
EBITDA\nth GBP 2017                                         15
EBITDA\nth GBP 2016                                         18
EBITDA\nth GBP 2015                                         25
Depreciation\nth GBP 2018                                   15
Depreciation\nth GBP 2017                                   15
Depreciation\nth GBP 2016                                   18
Depreciation\nth GBP 2015                                   24
Market capitalisation / Total assets (Tobin’s Q)\n2018    3764
Market capitalisation / Total assets (Tobin’s Q)\n2017    3765
Market capitalisation / Total assets (Tobin’s Q)\n2016    3772
Market capitalisation / Total assets (Tobin’s Q)\n2015    3775
Total Assets\nth GBP 2018                                   15
Total Assets\nth GBP 2017                                   15
Total Assets\nth GBP 2016                                   18
Total Assets\nth GBP 2015                                   24
dtype: int64

In [122]:
# Drop unnecessary index column.
df.drop(['Unnamed: 0'], axis=1, inplace=True)
# Drop rows with NaN values.
df.dropna(inplace=True)
df.shape[0]

300

In [123]:
# Rename columns.
ends = ["\nth GBP", "\n"]
for col in df.columns:
    for end in ends:
        if end in col:
            df.rename(columns={col: col.replace(end, "")}, inplace=True)

df.columns

Index(['Company name', 'Asset Tangibility2018', 'Asset Tangibility2017',
       'Asset Tangibility2016', 'Asset Tangibility2015', 'Gearing (%)2018',
       'Gearing (%)2017', 'Gearing (%)2016', 'Gearing (%)2015',
       'Directors' Fees 2018', 'Directors' Fees 2017', 'Directors' Fees 2016',
       'Directors' Fees 2015', 'Directors' Remuneration 2018',
       'Directors' Remuneration 2017', 'Directors' Remuneration 2016',
       'Directors' Remuneration 2015', 'Highest Paid Director 2018',
       'Highest Paid Director 2017', 'Highest Paid Director 2016',
       'Highest Paid Director 2015', 'Turnover 2018', 'Turnover 2017',
       'Turnover 2016', 'Turnover 2015', 'Long Term Debt 2018',
       'Long Term Debt 2017', 'Long Term Debt 2016', 'Long Term Debt 2015',
       'EBITDA 2018', 'EBITDA 2017', 'EBITDA 2016', 'EBITDA 2015',
       'Depreciation 2018', 'Depreciation 2017', 'Depreciation 2016',
       'Depreciation 2015',
       'Market capitalisation / Total assets (Tobin’s Q)2018',
       'Market capitalisation / Total assets (Tobin’s Q)2017',
       'Market capitalisation / Total assets (Tobin’s Q)2016',
       'Market capitalisation / Total assets (Tobin’s Q)2015',
       'Total Assets 2018', 'Total Assets 2017', 'Total Assets 2016',
       'Total Assets 2015'],
      dtype='object')

In [124]:
# Print dtypes of columns.
df.dtypes

Company name                                            object
Asset Tangibility2018                                   object
Asset Tangibility2017                                   object
Asset Tangibility2016                                   object
Asset Tangibility2015                                   object
Gearing (%)2018                                         object
Gearing (%)2017                                         object
Gearing (%)2016                                         object
Gearing (%)2015                                         object
Directors' Fees 2018                                    object
Directors' Fees 2017                                    object
Directors' Fees 2016                                    object
Directors' Fees 2015                                    object
Directors' Remuneration 2018                            object
Directors' Remuneration 2017                            object
Directors' Remuneration 2016                            object
Directors' Remuneration 2015                            object
Highest Paid Director 2018                              object
Highest Paid Director 2017                              object
Highest Paid Director 2016                              object
Highest Paid Director 2015                              object
Turnover 2018                                           object
Turnover 2017                                           object
Turnover 2016                                           object
Turnover 2015                                           object
Long Term Debt 2018                                     object
Long Term Debt 2017                                     object
Long Term Debt 2016                                     object
Long Term Debt 2015                                     object
EBITDA 2018                                             object
EBITDA 2017                                             object
EBITDA 2016                                             object
EBITDA 2015                                             object
Depreciation 2018                                       object
Depreciation 2017                                       object
Depreciation 2016                                       object
Depreciation 2015                                       object
Market capitalisation / Total assets (Tobin’s Q)2018    object
Market capitalisation / Total assets (Tobin’s Q)2017    object
Market capitalisation / Total assets (Tobin’s Q)2016    object
Market capitalisation / Total assets (Tobin’s Q)2015    object
Total Assets 2018                                       object
Total Assets 2017                                       object
Total Assets 2016                                       object
Total Assets 2015                                       object
dtype: object

In [125]:
# Get rid of commas in numerically formatted columns.
# Try to convert data to numeric, float if there is decimal point, integer otherwise.
for col in df.columns:
    df[col] = df[col].str.replace(',', '')
    try:
        df[col] = pd.to_numeric(df[col], errors='raise')
    except ValueError:
        pass

df.dtypes

Company name                                             object
Asset Tangibility2018                                   float64
Asset Tangibility2017                                   float64
Asset Tangibility2016                                   float64
Asset Tangibility2015                                   float64
Gearing (%)2018                                         float64
Gearing (%)2017                                         float64
Gearing (%)2016                                         float64
Gearing (%)2015                                         float64
Directors' Fees 2018                                      int64
Directors' Fees 2017                                      int64
Directors' Fees 2016                                      int64
Directors' Fees 2015                                      int64
Directors' Remuneration 2018                              int64
Directors' Remuneration 2017                              int64
Directors' Remuneration 2016                              int64
Directors' Remuneration 2015                              int64
Highest Paid Director 2018                                int64
Highest Paid Director 2017                                int64
Highest Paid Director 2016                                int64
Highest Paid Director 2015                                int64
Turnover 2018                                             int64
Turnover 2017                                             int64
Turnover 2016                                             int64
Turnover 2015                                             int64
Long Term Debt 2018                                       int64
Long Term Debt 2017                                       int64
Long Term Debt 2016                                       int64
Long Term Debt 2015                                       int64
EBITDA 2018                                               int64
EBITDA 2017                                               int64
EBITDA 2016                                               int64
EBITDA 2015                                               int64
Depreciation 2018                                         int64
Depreciation 2017                                         int64
Depreciation 2016                                         int64
Depreciation 2015                                         int64
Market capitalisation / Total assets (Tobin’s Q)2018    float64
Market capitalisation / Total assets (Tobin’s Q)2017    float64
Market capitalisation / Total assets (Tobin’s Q)2016    float64
Market capitalisation / Total assets (Tobin’s Q)2015    float64
Total Assets 2018                                         int64
Total Assets 2017                                         int64
Total Assets 2016                                         int64
Total Assets 2015                                         int64
dtype: object

In [126]:
# Feature Engineering
years = ["2015", "2016", "2017", "2018"]

for col in df.columns:
    if "Turnover" in col:
        df[col] = np.log(df[col])
        df.rename(columns={col: col.replace("Turnover", "Log Sales")}, inplace=True)
    
for year in years:
    # Profibility variable.
    df["Profitability " + year] = df["EBITDA " + year] / df["Total Assets " + year]
    # Non-debt tax shields proxy.
    df["NDTS" + year] = df["Depreciation " + year] / df["Total Assets " + year]

In [127]:
df.columns

Index(['Company name', 'Asset Tangibility2018', 'Asset Tangibility2017',
       'Asset Tangibility2016', 'Asset Tangibility2015', 'Gearing (%)2018',
       'Gearing (%)2017', 'Gearing (%)2016', 'Gearing (%)2015',
       'Directors' Fees 2018', 'Directors' Fees 2017', 'Directors' Fees 2016',
       'Directors' Fees 2015', 'Directors' Remuneration 2018',
       'Directors' Remuneration 2017', 'Directors' Remuneration 2016',
       'Directors' Remuneration 2015', 'Highest Paid Director 2018',
       'Highest Paid Director 2017', 'Highest Paid Director 2016',
       'Highest Paid Director 2015', 'Log Sales 2018', 'Log Sales 2017',
       'Log Sales 2016', 'Log Sales 2015', 'Long Term Debt 2018',
       'Long Term Debt 2017', 'Long Term Debt 2016', 'Long Term Debt 2015',
       'EBITDA 2018', 'EBITDA 2017', 'EBITDA 2016', 'EBITDA 2015',
       'Depreciation 2018', 'Depreciation 2017', 'Depreciation 2016',
       'Depreciation 2015',
       'Market capitalisation / Total assets (Tobin’s Q)2018',
       'Market capitalisation / Total assets (Tobin’s Q)2017',
       'Market capitalisation / Total assets (Tobin’s Q)2016',
       'Market capitalisation / Total assets (Tobin’s Q)2015',
       'Total Assets 2018', 'Total Assets 2017', 'Total Assets 2016',
       'Total Assets 2015', 'Profitability 2015', 'NDTS2015',
       'Profitability 2016', 'NDTS2016', 'Profitability 2017', 'NDTS2017',
       'Profitability 2018', 'NDTS2018'],
      dtype='object')

In [128]:
# Calculate column averages for years 2015-2017.
df["Asset Tangability Avg"] = df[["Asset Tangibility2015", "Asset Tangibility2016", "Asset Tangibility2017"]].mean(axis=1)
df["Directors' Fees Avg"] = df[["Directors' Fees 2015", "Directors' Fees 2016", "Directors' Fees 2017"]].mean(axis=1)
df["Directors Remuneration Avg"] = df[["Directors' Remuneration 2015", "Directors' Remuneration 2016", "Directors' Remuneration 2017"]].mean(axis=1)
df["Highest Paid Director Avg"] = df[["Highest Paid Director 2015", "Highest Paid Director 2016", "Highest Paid Director 2017"]].mean(axis=1)
df["Log Sales Avg"] = df[["Log Sales 2015", "Log Sales 2016", "Log Sales 2017"]].mean(axis=1)
df["TobinsQ Avg"] = df[["Market capitalisation / Total assets (Tobin’s Q)2015", "Market capitalisation / Total assets (Tobin’s Q)2016", "Market capitalisation / Total assets (Tobin’s Q)2017"]].mean(axis=1)
df["Profitability Avg"] = df[["Profitability 2015", "Profitability 2016", "Profitability 2017"]].mean(axis=1)
df["NDTS Avg"] = df[["NDTS2015", "NDTS2016", "NDTS2017"]].mean(axis=1)
pd.set_option('display.max_columns', None)
df.head()

,Company name,Asset Tangibility2018,Asset Tangibility2017,Asset Tangibility2016,Asset Tangibility2015,Gearing (%)2018,Gearing (%)2017,Gearing (%)2016,Gearing (%)2015,Directors' Fees 2018,Directors' Fees 2017,Directors' Fees 2016,Directors' Fees 2015,Directors' Remuneration 2018,Directors' Remuneration 2017,Directors' Remuneration 2016,Directors' Remuneration 2015,Highest Paid Director 2018,Highest Paid Director 2017,Highest Paid Director 2016,Highest Paid Director 2015,Log Sales 2018,Log Sales 2017,Log Sales 2016,Log Sales 2015,Long Term Debt 2018,Long Term Debt 2017,Long Term Debt 2016,Long Term Debt 2015,EBITDA 2018,EBITDA 2017,EBITDA 2016,EBITDA 2015,Depreciation 2018,Depreciation 2017,Depreciation 2016,Depreciation 2015,Market capitalisation / Total assets (Tobin’s Q)2018,Market capitalisation / Total assets (Tobin’s Q)2017,Market capitalisation / Total assets (Tobin’s Q)2016,Market capitalisation / Total assets (Tobin’s Q)2015,Total Assets 2018,Total Assets 2017,Total Assets 2016,Total Assets 2015,Profitability 2015,NDTS2015,Profitability 2016,NDTS2016,Profitability 2017,NDTS2017,Profitability 2018,NDTS2018,Asset Tangability Avg,Directors' Fees Avg,Directors Remuneration Avg,Highest Paid Director Avg,Log Sales Avg,TobinsQ Avg,Profitability Avg,NDTS Avg
73,HARBOUR ENERGY PLC,0.7241,0.6535,0.6570,0.7013,398.93,761.24,580.56,541.15,1277,1276,1140,1193,3933,3366,2852,2284,1578,1475,1138,704,13.906465,13.555975,13.588673,13.491010,-2000000,-2198343,-2213082,-1771388,752194,524257,608364,435277,336050,499261,726617,914719,0.12,0.09,0.08,0.07,4400392,4538234,4911331,3593713,0.121122,0.254533,0.123869,0.147947,0.115520,0.110012,0.170938,0.076368,0.670600,1203.000000,2834.000000,1105.666667,13.545219,0.080000,0.120170,0.170831
89,IOMART GROUP PLC,-0.0040,0.1055,0.0366,0.1043,39.77,23.75,51.54,39.86,560,717,695,644,903,1348,1446,1283,439,565,596,517,11.489339,11.402809,11.242166,11.094330,-503,-625,-826,-1346,35720,34622,31144,27718,12536,10972,10878,10142,2.27,2.22,1.96,1.77,173662,143502,147052,123381,0.224654,0.082201,0.211789,0.073974,0.241265,0.076459,0.205687,0.072186,0.082133,685.333333,1359.000000,559.333333,11.246435,1.983333,0.225903,0.077544
115,FIRSTGROUP PLC,0.3553,0.3879,0.3830,0.3787,158.08,121.03,154.81,171.99,1283,1271,1288,1296,2453,2772,3190,3042,1100,1260,1243,1647,15.671559,15.547750,15.467644,15.615685,-1339600,-1586400,-1712100,-1805700,549100,701200,623900,653400,409400,357400,325700,353300,0.19,0.28,0.22,0.21,5301200,5752500,5306400,5216100,0.125266,0.067733,0.117575,0.061379,0.121895,0.062130,0.103580,0.077228,0.383200,1285.000000,3001.333333,1383.333333,15.543693,0.236667,0.121579,0.063747
140,DEVRO PLC,0.8751,0.8829,0.8701,0.8560,157.20,198.66,262.29,159.73,626,776,693,758,1132,1447,1340,1579,440,703,513,759,12.442725,12.456442,12.392967,12.346704,-146800,-144200,-161600,-133200,52500,59000,38400,36800,24600,25000,22100,16500,0.65,0.92,0.72,1.26,413200,416800,439700,384800,0.095634,0.042879,0.087332,0.050262,0.141555,0.059981,0.127057,0.059535,0.869667,742.333333,1455.333333,658.333333,12.398704,0.966667,0.108174,0.051041
150,SSE PLC,0.6587,0.6873,0.6278,0.5924,211.15,170.68,426.38,464.78,1824,1496,1461,1427,6137,5931,3703,4386,2693,2925,1696,2311,17.256774,17.184112,17.175236,17.270388,-7960200,-7940000,-6245500,-5367900,2367600,2374600,2157800,2124800,988400,434100,1329500,1135500,0.57,0.64,0.68,0.64,22642900,23391000,22186700,23295600,0.091210,0.048743,0.097256,0.059923,0.101518,0.018558,0.104563,0.043652,0.635833,1461.333333,4673.333333,2310.666667,17.209912,0.653333,0.096661,0.042408

In [129]:
# Save whole dataframe for analysis.
df.to_csv('./CleanData.csv', index=False)

# Save dataframe for regression.
regression_df = df[["Gearing (%)2018", "Asset Tangability Avg", "Directors' Fees Avg", "Directors Remuneration Avg", "Highest Paid Director Avg", "Log Sales Avg", "TobinsQ Avg", "Profitability Avg", "NDTS Avg"]]

# Drop outliers perhaps?

regression_df.to_csv('./RegressionData.csv', index=False)